<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Kaiji The Game</display-name>

    <!--     Main Spring configuration xml path          -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/root-context.xml,
            /WEB-INF/spring/db/*.xml, 
            /WEB-INF/spring/security-context.xml
        </param-value>
    </context-param>

    <!--     Default Spring Profiles          -->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>production</param-value>
    </context-param>
    


    <!--     Context loader. Creates Spring container    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!--Servlet Context Listener -->
    <listener>
        <listener-class>
            com.softserveinc.ita.kaiji.web.listener.MyAppServletContextListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>email</param-name>
        <param-value>/WEB-INF/email.properties</param-value>
    </context-param>

    <!-- Http Session Listener -->

    <listener>
        <listener-class>
            com.softserveinc.ita.kaiji.session.CheckOnlineUsers
        </listener-class>
    </listener>

    <!--     Filter encodes resources to UTF-8  -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--     Dispatcher servlet. Maps URL to Sprint MVC controllers -->
    <servlet>
        <servlet-name>spring-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/mvc-context.xml</param-value>
        </init-param>
       <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>

    </servlet>
    <servlet-mapping>
        <servlet-name>spring-servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--Jersey Servlet-->
<!--
       <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.spring.container.servlet.SpringServlet
        </servlet-class>
           <init-param>
               <param-name>contextConfigLocation</param-name>
               <param-value>
                   /WEB-INF/spring/mvc-context.xml
               </param-value>
           </init-param>
           <init-param>
               <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
               <param-value>true</param-value>
           </init-param>
           <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.softserveinc.ita.kaiji.rest</param-value>
        </init-param>
          <load-on-startup>1</load-on-startup>
       </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>-->
    
	<!-- Spring Security -->

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
        <async-supported>true</async-supported>

    </filter>

    <!--http://docs.spring.io/spring-security/site/docs/3.2.0.CI-SNAPSHOT/reference/html/servletapi.html -->
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ASYNC</dispatcher>
	</filter-mapping>

</web-app>